
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 4px;
  background-color: rgba(131, 131, 131, 0.1);
  margin-left: 1em;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(129, 129, 129, 0.3);
  border-radius: 4px;
}

body {
  width: 100%;
}

h2 {
  font-size: 20px !important;
}

@media (min-width: 768px){
  d-article pre, d-article div.sourceCode, d-article div.sourceCode pre {
      overflow: auto !important;
  }
}